.text {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 22px;
    margin: 0 0 40px;
    text-align: center;
    color: rgb(238, 255, 0);    
    text-shadow: 2px 2px black;
}

.texty {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 40px;
    text-align: center;
    color: rgb(238, 255, 0);    
    text-shadow: 2px 2px black;
    margin-top: 5%;
}

.texto-center{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 255, 21);
    font-size: 32px;
    text-shadow: 2px 2px black;
}

.img-center{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;    
}

.imagen{
    width: 35%;
    height: auto;    
    border-radius: 4%;    
    box-shadow: 0px 0px 10px rgba(153,204,255,0.8);    
}

.butonox {
    --glow-color: rgb(252, 255, 176);    
    --enhanced-glow-color: rgb(237, 225, 161);
    --btn-color: rgb(136, 135, 61);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
   }
   
   .butonox::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   .butonox:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   .butonox:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }

   .margon{
    margin-top: 5%;
}

